<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>arkavocreator</string>
				</array>
				<key>CFBundleURLName</key>
				<string>com.arkavo.ArkavoCreator</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
			</dict>
		</array>
		<key>LSMinimumSystemVersion</key>
		<string>10.15</string>
		<key>CFBundleDisplayName</key>
		<string>Arkavo Creator</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Arkavo Creator needs microphone access to record audio with your videos.</string>
		<key>NSCameraUsageDescription</key>
		<string>Arkavo Creator needs camera access to include you in picture-in-picture while recording your screen.</string>
		<key>NSScreenCaptureDescription</key>
		<string>Arkavo Creator needs screen recording permission to capture your screen content with C2PA provenance tracking.</string>
		<key>NSFileUsageDescription</key>
		<string>Arkavo Creator requires access to encrypt and protect your content.</string>
	</dict>
</plist>