<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:webauthn.arkavo.net</string>
		<string>applinks:app.arkavo.com</string>
		<string>applinks:arkavo.net</string>
		<string>webcredentials:arkavo.net</string>
	</array>
	<key>com.apple.security.device.camera</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.arkavo.Arkavo</string>
		<string>$(AppIdentifierPrefix)com.arkavo.patreon</string>
		<string>$(AppIdentifierPrefix)com.arkavo.reddit</string>
	</array>
</dict>
</plist>
